<template name="showComputersLayout">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each computers}}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ brand.name }}</td>
                        <td>{{ model.name }}</td>
                        <td>{{ createdAt }}</td>
                        <td>
                            <button class="btn" id="delete_btn">Supprimer</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
</template>