<template name="addModelLayout">
    <form>
        <div class="form-row">
            <label for="nameInput">Nom</label>
            <input class="form-control" type="text" id="nameInput" name="name" />
        </div>
        <div class="form-row">
            <label for="brandSelect">Marque</label>
            <select class="form-control" id="brandSelect" name="brandId">
                {{#each brands}}
                    <option value="{{ _id }}">{{ name }}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-row">
            <label for="specInput">Spécifications</label>
            <input class="form-control" id="specInput" type="text-area" name="specs" />
        </div>
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </div>
    </form>
</template>